.login-container .register-text-container {
  display: flex;
  padding: 10px;
  width: 300px;
  border-radius: 0px 20px 20px 0px;
  background-color: goldenrod;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-container .register-text-container .register-account .register-button {
  padding: 10px;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.9s
}

.login-container .register-text-container .register-account .register-button:hover {
  padding: 10px;
  border: 2px solid white;
  background-color: white;
  color: goldenrod;
  opacity: 1;
  border-radius: 30px;
  cursor: pointer;
}

.login-container .register {
  margin: 10px;
  width: 400px;
  padding: 30px;
}

@media only screen and (max-width: 480px) {
  .login-container .register {
    margin: 10px;
    /* width: 300px; */
  }

  .login-container .register-text-container {
    display: none;
    background-color: transparent;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
}
